.c-page {

    @include element('entry-container') {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;

        @include element('entry') {
            max-width: 450px;
            width: 100%;
            margin: 10px;

            @include element('title') {
              color: $links;
              text-decoration: underline;
              cursor: pointer;
            }

            @include all-mobile() {
                width: 95%;
                margin: 5px;
            }
        }
    }
}
