//Import our fonts (from google Fonts)
@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Sans|Open+Sans|Raleway');

//Styles that apply to the entire page
html {
    background-color: $bgColor;
    position: relative;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

app-root {
  height: 100%;
}


* {
    font-family: 'Noto Sans', 'Open Sans', 'Raleway','Lora', sans-serif;
}

img {
    max-width: 100%;
}

a {
  color: $links;

  &:visited {
    color: darken($linksVisited, 25%);
  }
}

//General Classes we can use app wide
.center {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    @extend .center;
    text-align: center;
}
