// Declare nav variables
$activePage: lighten($navColor, 25%);

.nav {

    @include element('desktop-nav') {
      background-color: $navColor;
      color: $inverse;
      border-radius: 0px;
    }

    @include element('sidenav') {
        background-color: $navColor;
        color: $inverse;

        position: absolute;
        min-width: calc(#{$mobile-width} - 100px);
        width: calc(#{$mobile-width} - 100px);
        padding: 10px;

        @include element('page-link') {
            font-size: 20px;
            cursor: pointer;

            @include element('text') {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

            @include modifier('active-page') {
                text-decoration: underline;
            }
        }
    }

    @include element('title') {
        color: $inverse;
        margin-left: 10px;
        margin-right: 10px;
    }


    @include element('page-link') {
        color: $inverse;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
        cursor: pointer;

        @include modifier('active-page') {
            background-color: $activePage;
        }

        //Hide on mobile displays
        @include all-mobile() {
            display: none;
        }
    };

    @include element('icon-button') {
      color: $inverse;
      box-shadow: none;
      user-select: none;
      background: none;
      border: none;
      cursor: pointer;
      filter: none;
      font-weight: normal;
      height: auto;
      line-height: inherit;
      margin: 0;
      min-width: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;

      //Hide on desktops and things
      @include not-mobile() {
          display: none;
      }
    }

    @include element('overlay') {
        z-index: 5;
        background-color: $transparent-50;
        position: fixed;
        width: 100%;
        height: 0px;
        margin-top: 0px;
        opacity: 0;

        //Preety overlay color transition
        transition: opacity 0.5s;

        @include modifier('show') {
            opacity: 1;
            height: calc(100% + 100px);
            min-height: calc(100vh + 100px);
            margin-top: -100px;
        }
    }
}

.c-app {
    @extend .center;

    background-color: $bgColor;
    color: $standard;

    max-width: $tablet-width;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    @include all-mobile() {
        width: 95%;
    }
}
